<% provide(:title, "質問投稿") %>
<h1>質問投稿</h1>
<div class="row">
  <aside class="col-md-6 col-md-offset-3">
    <section class="question_form">
      <%= render 'shared/question_form' %>
    </section>
  </aside>
</div>