<% provide(:title, "FUKUQとは") %>
<h1>FUKUQとは</h1>
<p>
    普段SNSを見ていてこの人の服ってどこのだろうと気になったことはありませんか？また、その時に質問して誰かに教えてもらえたらいいと思いませんか？
    そんな悩みを解決してあげたいという思いからこのサービスを開発しました。
    <p>お試しはこちらから→<%= link_to "ゲストログイン", guest_login_path, data: { turbo_method: :post } %></p>
</p>