<div class="center jumbotron bg-image">
  <h1>FUKUQ</h1>

  <h2>
    気になった服について質問できるQ&Aサービスです。
  </h2>
  <a class="mt-5"><%= link_to "詳しくはこちら>>",  '#', class:"text-white", 'data-turbolinks': false %></a>
</div>