<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>

<%= paginate @users, theme: 'twitter-bootstrap-4' %>

<ul class="users">
  <%= render @users %>
</ul>

<%= paginate @users, theme: 'twitter-bootstrap-4' %>